.align {
    text-align: center;
}

.chandu
{
    background-color: greenyellow;
    border: 2px solid black;
   
}

.ran {
     
    background-color: aqua;
}

.table th,tr,td {
    border:1px solid black;
    width: 100px;
}

.table {
    margin-top: 20px;
}